includes:
    - phpstan-baseline.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon

parameters:
    tmpDir: .cache/phpstan

    paths:
        - src
        - tests
        - workbench

    level: max

    strictRules:
        allRules: true

    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

    type_coverage:
        return: 100
        param: 100
        property: 100
        constant: 0
        declare: 100

    type_perfect:
        null_over_false: true
        narrow_return: true

    cognitive_complexity:
        class: 80
        function: 20

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        -
            identifier: trait.unused
            reportUnmatched: false
        # Pest's expectation API is marked @internal but is the intended public
        # surface for tests. Allow calling it from our tests/.
        -
            identifier: method.internalClass
            paths:
                - tests/*
            reportUnmatched: false
